* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

header{
	display: block;
}

#header .top-header {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 0px;
}

#header .top-header, #header .top-header a {
	background-color: #00384D;
	color: #f8f8f8;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1140px;
	}
}


.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 1000px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
}

@media (min-width: 1000px) {
	.col-md-8 {
		width: 66.66666667%;
	}
}

@media (min-width: 1000px) {
	.col-md-4 {
		width: 33.33333333%;
	}
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	content: "\f0c9";
}

@media (min-width: 1000px) {
	#header .top-header .col-1 {
		width: 30%;
	}
}

@media (min-width: 1000px) {
	#header .top-header .col-2 {
		width: 40%;
	}
}

@media (min-width: 1000px) {
	#header .top-header .col-3 {
		width: 30%;
		text-align: right;
		padding-right: 0px;
	}
}

@media (max-width: 1000px) {
	#header .top-header .col-12 {
		font-size: 14px;
	}
}

#header .top-header i {
	margin-right: 10px;
}

i{
	color: white;
}

/*Mid-header*/
#header .mid-header{
	background-color: #fff;
	padding-bottom: 20px;

}

.logo {
	margin-top: 20px;
}

.form-inline{
	width: 100%;
	margin: 0;
}

.search, .carts {
	margin-top: 30px;
}

.carts{
	line-height: normal;
	margin: 25px 0px;
}

.search .input-search {
	padding: 10px;
	line-height: normal;
	margin: 0px;
	display: inline-block;
	border: none;
	border: 1px solid #d7d7d7;
	border-right: none;
	width: 185px;
}

.search .btn-search {
	padding: 10px 5px;
	text-transform: uppercase;
	color: #2c3e50;
	line-height: normal;
	margin: 0px;
	margin-left: -5px;
	display: inline-block;
	background: none;
	border: 1px solid #d7d7d7;
	border-left: none;
	width: 30px;
	background-color: #fff;
}

#header .search {
	line-height: 85px;
	text-align: center;
}

.fa-search{
	color: #2c3e50;
}

.media-left, .media-right, .media-body {
	display: table-cell;
	vertical-align: top;
}

.media-left-background{
	margin: 0px auto;
	width: 40px;
	height: 40px;
	background-color: #e83d2b;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}

.media-body{
	padding: 0px 10px;
}

.media-body .costs{
	line-height: normal;
	color: #e83d2b;
	font-weight: bold;
}

.navigator{
	background-color: #652D92;
	position: relative;
}

.sub-menu{
	display: none;
	position: absolute;
	width: 200px;
	background-color: #fff;
	z-index: 99;
	box-shadow: 0px 5px 2px #ccc;
	left: 0px;
	top: 50px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	color: white;
}

@media (min-width: 1000px) {
	#header .menu ul {
		text-align: center;
		padding: 0px;
		margin: 0px auto;
	}
}

@media (min-width: 1000px) {
	#header .menu > li {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
		vertical-align: top;
		position: relative;
	}
}

#header .menu {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #00384d;
}

#header .menu ul {
	text-align: center;
	padding: 0px;
	margin: 0px auto;
}

a:hover{
	color: #fff;
	text-decoration: none;
}

.homepage-item{
	background-color: #7738AA;
}

.menu li:hover {
	background-color: #7738AA;

}

.sub-menu-item a{
	color: #7738AA;
}

ul .design-item:hover > .sub-menu{
	display: block;
}

#header .menu ul li a {
	font-size: 14px;
	text-transform: uppercase;
	color: #7738AA;
	font-weight: bold;
	display: block;
}

#header .menu ul.sub-menu li {
	display: block;
	text-align: left;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	line-height: normal;
}

#header .menu ul.sub-menu li:first-child {
	margin-top: 10px;
}

#header .menu ul.sub-menu li:hover {
	background-color: #7738AA; 
	color: #fff;
}

#header .menu ul.sub-menu li:hover a{
	color: #fff;
}

.mobile-nav{
	line-height: 50px;
	height: 50px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #7738AA;
	color: #fff;
}

.mobile-nav i{
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.mobile-nav{
	display: none;
}

@media (max-width: 768px) {
	.mobile-nav{
		display: block!important;
	}

	.desktop-nav{
		display: none;
	}

	.navigator{
		background-color: #fff;
	}
}

.slider{
	margin-top: 20px;
}

.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
}

.carousel-inner>.item {
	display: none;
	position: relative;
	transition: .6s ease-in-out left;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	line-height: 1;
}

.carousel-control {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 15%;
	opacity: .5;
	filter: alpha(opacity=50);
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left {
	height: 40px;
	width: 40px;
	left: 0px;
	line-height: 40px;
	background-color: #9374a0;
}

.carousel-control.right{
	left: auto;
	right: 0;
}

.carousel-control .glyphicon-chevron-right {
	height: 40px;
	width: 40px;
	right: 0px;
	line-height: 40px;
	background-color: #9374a0;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
	display: block;
}