body{
	font-family: Arial, sans-serif;
}

th{
	font-weight: normal;
	text-align: left;
	color: white;
	border: 1px solid #ddd;
	padding: 5px;
}
img{
	width: 20px;
	height: auto;
}
thead{
	background-color: #59BD06;
}
.yellow{
	background-color: #ECECD8;
}
td{
	width: 100px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #ddd;
	padding: 5px;
}
table{
	border-collapse: collapse;
}
.name{
	width: 200px;
}